@use '/src/assets/styles/vars';

.navigationSideBar {
  background-color: vars.$green;
  padding: 1rem 0.5rem;
  max-width: 17%;
  height: 100vw;

  &-Top {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-settings {
    margin: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-pseudo {
      color: vars.$bleu;
      font-size: vars.$gutter;
    }

    &-icons {
      color: vars.$lithGray;
    }
  }
}
